@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bg-primary: #000000;
  --bg-secondary: #ffffff;
  --bg-alternate: red;
  --txt-primary: #ffffff;
  --txt-secondary: #000000;
  --txt-alternate: red;
  --container-bg: linear-gradient(to bottom right, black, silver);
  --container-bgr: linear-gradient(to top left, black, silver);
  --alternate-bg: linear-gradient(to top left, white, rgb(80, 78, 78));
}

.active {
  border-bottom: 1px solid black;
  color: var(--txt-alternate) !important;
}

#hero-container {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 600px;
  width: 100%;
}

.navbar {
  background-image: var(--alternate-bg);
}

.projects-links {
  background-color: silver;
  border-color: var(--bg-primary);
  margin-top: auto;
}

.card-text {
  margin: auto;
}

.projects-links:hover {
  background-color: #fafafa !important;
  color: var(--txt-alternate) !important;
  border-color: var(--bg-primary) !important;
}

#projects-header {
  color: var(--txt-secondary);
}

#projects {
  margin-top: 70px;
}

.uppercase {
  text-transform: uppercase;
}

.contact-us-btn {
  background-color: silver;
  color: #fafafa;
}

.contact-us-btn:hover {
  background-color: #fafafa;
  color: var(--txt-alternate);
}

#hero-logo-container {
  margin-top: 20px;
  padding: 60px;
}

#hero-logo-border {
  width: 300px;
  height: 300px;
  border: 5px dotted var(--bg-alternate);
  border-radius: 50%;
  margin: 0 auto;
}

#hero-logo {
  background: url("../images/jvjdev.png") no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

.jumbotron {
  background: var(--bg-secondary);
  height: 300px;
}

.card {
  height: 350px;
  background-image: var(--container-bg);
  border-radius: 5px;
  border-image: var(--container-bg) !important;
  border-width: 5px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.text-white {
  color: var(--txt-primary) !important;
}

.skills-containers {
  height: 90px;
  /* width: 30%; */
  margin: auto;
  text-align: center;
  border-radius: 20px;
  border: 1px solid;
  border-image: var(--container-bg);
  background-image: var(--container-bgr);
  max-width: 400px;
}

.skills-containers:hover {
  height: 90px;
  width: 30%;
  margin: auto;
  text-align: center;
  background-color: silver !important;
  opacity: 25%;
}

.skills {
  height: 200px;
  margin: auto;
  background-image: linear-gradient(to bottom left, black, silver);
}

.icon {
  margin: 0px;
  height: 70px;
  width: 22%;
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;
  text-align: center;
}

.icon-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
  font-size: 80%;
  margin: auto;
}

#html {
  background: url("../images/html5.png") no-repeat center center;
  height: 100%;
}

#css {
  background: url("../images/css3.png") no-repeat center center;
  height: 100%;
}

#js {
  background: url("../images/javascript.png") no-repeat center center;
  height: 100%;
}

.form-section {
  clear: left;
  background-size: cover;
  background-position: center;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  margin: auto;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  border-radius: 25px;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.signup-form h2 {
  color: #fafafa;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: var(--txt-alternate);
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: silver;
  color: #fafafa;
  display: block;
}

.join-button:hover {
  background-color: #fafafa;
  color: var(--txt-alternate);
}

input[type="submit"] {
  margin: auto;
  padding: 0.75rem;
  background-color: silver;
  color: white;
  border: none;
  border-radius: 10%;
}

input[type="text"],
input[type="email"] {
  height: 30px;
  width: 90%;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

#linkedin:hover,
#github:hover,
#facebook:hover {
  color: var(--txt-alternate);
  outline: 2px solid red;
}

.nav-link:hover {
  color: var(--txt-alternate) !important;
}

#about-me-section {
  height: 400px;
  padding-top: 20px;
}

#left-about {
  padding-top: 30px;
  width: 50%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 50%;
  float: right;
}

.left-about-image {
  width: 300px;
  height: 300px;
  padding: 25px;
  background-image: var(--container-bgr);
  border-radius: 50%;
  margin-left: 45%;
}

#circle-cover-bg {
  background: url("../images/me.png") no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

.right-about-text {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
  background-color: rgba(60, 60, 60, 0.658);
  color: var(--txt-primary);
  padding: 20px;
  border-radius: 5%;
}

.right-about-text p {
  text-align: left;
  font-size: 115%;
}

.right-about-text h2 {
  text-align: left;
}

.footer {
  background-image: var(--alternate-bg);
}

.background {
  background: url("../images/form-background.png") no-repeat center center;
}

.signup-form h2 {
  font-size: 170%;
}

.skills-containers a {
  text-decoration: none;
}

@media (max-width: 576px) {
  .projects {
    margin-top: 20px;
  }

  .body {
    background: var(--container-bg);
  }

  .skills-containers {
    height: 90px !important;
    width: 110px !important;
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
    border-image: var(--container-bg);
  }

  .icon {
    margin: 0px !important;
    height: 70px !important;
    width: 80px !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
  }

  .skills-containers:hover {
    height: 90px !important;
    width: 110px !important;
    margin-top: 50px;
    text-align: center;
    background-color: silver !important;
    opacity: 25%;
  }

  #about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #right-about {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-about-text {
    margin: auto;
    line-height: 20px;
    background-color: rgba(60, 60, 60, 0.658);
    color: var(--txt-primary);
    border-radius: 5%;
    font-size: 75%;
  }

  .jumbotron {
    height: 375px !important;
  }
}

@media (max-width: 768px) {
  .projects {
    margin-bottom: 20px;
  }

  .icon-text {
    visibility: hidden;
  }

  .skills-containers {
    height: 90px;
    width: 15%;
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
    border-image: var(--container-bg);
  }

  .icon {
    margin: 0px;
    height: 70px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
  }

  .skills-containers:hover {
    height: 90px;
    width: 15%;
    margin-top: 50px;
    text-align: center;
    background-color: silver !important;
    opacity: 25%;
  }

  .text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
  }

  .text-input:hover {
    border-color: #f16c6b;
  }

  .join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: silver;
    color: #fafafa;
    display: block;
  }

  .join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
  }

  #left-about {
    display: none;
  }

  #about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #right-about {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-about-text {
    margin: auto;
    line-height: 20px;
    background-color: rgba(60, 60, 60, 0.658);
    color: var(--txt-primary);
    padding: 20px;
    border-radius: 5%;
  }

  .card {
    width: 235px !important;
  }
}

@media (max-width: 1200px) {
  .left-about-image {
    width: 300px;
    height: 300px;
    padding: 25px;
    background-image: var(--container-bgr);
    border-radius: 50%;
    margin-left: 25%;
  }

  .right-about-text {
    width: 85%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    background-color: rgba(60, 60, 60, 0.658);
    color: var(--txt-primary);
    padding: 20px;
    border-radius: 5%;
  }

  .skills-containers {
    height: 90px;
    width: 30%;
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
    border-image: var(--container-bg);
  }
}

@media (min-width: 1200px) {
  #hero-image {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    align-items: center;
    display: block;
    margin: auto;
  }

  .skills-containers {
    height: 90px;
    width: 30%;
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
    border-image: var(--container-bg);
    border-image: var(--container-bg);
  }

  .skills-containers:hover {
    height: 90px;
    width: 30%;
    margin-top: 50px;
    text-align: center;
    background-color: silver !important;
    opacity: 25%;
  }
}